body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
    font-size: 14px !important;
    color: #7B7B7B !important;
    padding-left: 1rem;
    padding-right: 1rem;
}

* {
    box-sizing: border-box;
}

.page {
    max-width: 900px;
    margin: 0 auto;
}

.label {
    display: inline-block;
    width: 70px;
}

input[type=text] {
    width: 500px;
}

.chart-data-selector {
    border-bottom: 1px solid #eee;
    padding-top: 20px;
    padding-bottom: 20px;
}

.demo-chart {
    width: 100%;
    height: 300px;
    margin-top: 20px;
}

.demo-chart .table {
    margin-bottom: 0;
}

.additional-information {
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.datapoint-details {
    padding: 10px;
    white-space: pre;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    border: 1px solid #eee;
    font-family: Courier;
    overflow-x: auto;
}

.datapoint-details h3 {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    display: block;
    padding-bottom: 5px;
    margin-top: 0;
    font-weight: normal;
    border-bottom: 1px solid #eee;
}

.loading-message {
    font-style: italic;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
}

.loading-message.hidden,
svg.plottable.hidden {
    display: none;
}