<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>CFBundleDisplayName</key>
	<string>WindesHeart</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>WindesHeart wants to use bluetooth</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen1</string>
	<key>CFBundleName</key>
	<string>WindesHeartApp</string>
	<key>CFBundleIdentifier</key>
	<string>com.HKTR.WindesHeartApp</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>WindesHeart wants to use bluetooth</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need access to your location to make sure we can find your device</string>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen1</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
</dict>
</plist>
